-@ val searchResult : String
html
    head
        title my jade template
    body
        h1 result
        p #{searchResult}

        form(id="back" method="GET" action="/")
            input(type='submit' value='Back to main page')